@import './base.css';

#app {
  flex-grow: 1;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0% 1rem;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

button{
    color: var(--color-text);
    background-color: var(--vt-c-indigo);
    border-radius: 5px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
